<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/header.ejs') %>
  </head> 
  <body>
    <h1>Oh no!</h1>  
    <h3>Make Sure to log in first</h3>
    <a href="/">back 2 home</a>
  </body>
</html>