<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/header.ejs') %>
  </head> 
  <body>
    <div id="members">
      <h1>awww yes! Members Only</h1>
      <p>What's up <%= user.username %>?!</p>
      <a href="/">back 2 home</a> <br>
      <a href="/logout"><button type="submit">Log Out</button></a>
    </div>
  </body>
</html>